html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    flex-direction: column;
    background-color: #f1f1f1;
    font-family: 'Crimson Text', serif;
    color: black;
}
nav {
    font-size: 1.4rem;
    border-bottom: 3px solid #DEE21C;
    padding-left: 8rem;
    display: block;
    background-color: #1C299B;
}
nav li a {
    margin: 0 1rem;
    color: #DEE21C;
}
nav ul {
    margin: 0;
    list-style: none;
}
img {
    width: 20%;
}
.d-flex {
    display: flex;
}
a {
    text-decoration: none;
    color: black;
}
main{
    width: 80%;
    margin: 0 auto;
    background-color: #f1f1f1;
}